﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BuildWeek4</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BuildWeek4.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">


                <a class="navbar-brand d-flex align-items-center" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="https://images.ctfassets.net/pjhgqryi6myh/4HQb1qJXGxaurg6WZckO3I/cc98e64559899efaa10b091654667ce4/CMLogoBlue1_-_Horizontal_Trademark.png" alt="CardMarket Logo" class="Logo me-2" />
                </a>


                <div class="dropdown me-3 d-none d-lg-block">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuImages" data-bs-toggle="dropdown" aria-expanded="false">
                        Scegli il tuo TCG preferito
                    </button>
                    <ul class="dropdown-menu px-2 py-0" aria-labelledby="dropdownMenuImages" style="width: 600px;">
                        <div class="row g-3 text-center">
                            <div class="dropImg col-6 col-lg-4">
                                <a href="/Home/FiltraPerCategoria?categoria=Yu-Gi-Oh"><img src="https://1000logos.net/wp-content/uploads/2024/02/Yu-Gi-Oh-Logo-2001.png" alt="Yu-Gi-Oh" class="img-fluid"></a>
                            </div>
                            <div class="dropImg col-6 col-lg-4">
                                <a href="/Home/FiltraPerCategoria?categoria=Pokemon"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Pok%C3%A9mon_Trading_Card_Game_logo.svg/2560px-Pok%C3%A9mon_Trading_Card_Game_logo.svg.png" alt="Pokemon" class="img-fluid"></a>
                            </div>
                            <div class="dropImg col-6 col-lg-4">
                                <a href="/Home/FiltraPerCategoria?categoria=Magic The Gathering"><img src="https://logos-world.net/wp-content/uploads/2023/05/Magic-The-Gathering-Logo.png" alt="MTG" class="img-fluid"></a>
                            </div>
                            <div class="dropImg col-6 col-lg-4">
                                <a href="/Home/FiltraPerCategoria?categoria=Lorcana"><img src="https://wiki.mushureport.com/images/thumb/5/57/Disney_Lorcana_TCG_Logo_transparent.png/1200px-Disney_Lorcana_TCG_Logo_transparent.png" alt="Lorcana" class="img-fluid"></a>
                            </div>
                            <div class="dropImg col-6 col-lg-4">
                                <a href="/Home/FiltraPerCategoria?categoria=One Piece"><img src="https://static.wixstatic.com/media/57a197_e334385962ac4203abe6390f3b6ff4c6~mv2.png" alt="One Piece" class="img-fluid"></a>
                            </div>
                            <div class="dropImg col-6 col-lg-4">
                                <a href="/Home/FiltraPerCategoria?categoria=DragonBall"><img src="https://relentlessdragon.com/wp-content/uploads/2019/10/dragon-ball-super-logo.png" alt="DB" class="img-fluid"></a>
                            </div>
                        </div>
                    </ul>
                </div>


                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <ul class="navbar-nav gap-2">
                        <li class="nav-item">
                            <a class="nav-link  d-flex align-items-center gap-1" asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="bi bi-house-door-fill fs-3"></i> Home
                            </a>
                        </li>
                        <li class="nav-item">
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <a class="nav-link  d-flex align-items-center gap-1" asp-area="" asp-controller="Login" asp-action="Index">
                                    <i class="bi bi-person-fill fs-3"></i> Login
                                </a>
                            }
                            else
                            {
                                <a class="nav-link  d-flex align-items-center gap-1" asp-area="" asp-controller="Home" asp-action="Profilo">
                                    <i class="bi bi-person-fill fs-3"></i> Profilo
                                </a>
                            }
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item cartItem">
                                <a class="nav-link d-flex align-items-center gap-1" asp-controller="Cart" asp-action="VisualizzaCarrello">
                                    <i class="bi bi-cart4 fs-3"></i> Carrello
                                    <span id="cartCounter" class="badge bg-danger">@ViewBag.CartCount</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <form method="post" asp-controller="Login" asp-action="Logout" class="m-0">
                                    <button type="submit" class="btn btn-link nav-link d-flex align-items-center gap-1">
                                        <i class="bi bi-box-arrow-right fs-3"></i> Logout
                                    </button>
                                </form>
                            </li>
                        }
                        @if (User.HasClaim(c => c.Type == "IsAdmin" && c.Value == "1"))
                        {
                            <li class="nav-item">
                                <a class="nav-link  d-flex align-items-center gap-1" asp-area="" asp-controller="Admin" asp-action="Index">
                                    <i class="bi bi-person-fill fs-3"></i> Admin
                                </a>
                            </li>
                        } else
                        {
                            
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="mainContainer">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer py-0 footer-custom">
        <div class="container-fluid d-flex flex-column flex-md-row justify-content-between align-items-center py-1">


            <div class="d-flex flex-wrap gap-3 fs-6 fw-semibold text-nowrap">
                <span>Termini di servizio</span>
                <span>Condizioni legali</span>
                <span>Regolamento privacy</span>
                <span>Aiuto</span>
                <span>Offerte di lavoro</span>
                <span>Produttori</span>
            </div>


            <div class="d-flex align-items-center gap-2 mt-1 mt-md-0 fs-6 fw-semibold">
                <span>Lingua:</span>
                <div class="dropdown">
                    <button class="btn  btn-sm py-0 px-2" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        Italiano
                    </button>
                    <ul class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton">
                        <li class="my-2"><a class="dropdown-item" href="#">🇮🇹 Italiano</a></li>
                        <li class="my-2"><a class="dropdown-item" href="#">🇬🇧 English</a></li>
                        <li class="my-2"><a class="dropdown-item" href="#">🇫🇷 Français</a></li>
                        <li class="my-2"><a class="dropdown-item" href="#">🇩🇪 Deutsch</a></li>
                        <li class="my-2"><a class="dropdown-item" href="#">🇪🇸 Español</a></li>

                    </ul>
                </div>
            </div>

        </div>

        <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center py-1">


            <div class="fs-6 fw-semibold text-nowrap">
                &copy; EpicCardMarket -
                <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-decoration-underline">Privacy</a>
            </div>


            <div class="d-flex gap-2">
                <a href="https://www.facebook.com/CardmarketYugioh" class="fs-4">
                    <i class="bi bi-facebook" style="color: #3b5998;"></i>
                </a>
                <a href="https://www.instagram.com/cardmarket_yugioh/" class="fs-4">
                    <i class="bi bi-instagram" style="color: #ac2bac;"></i>
                </a>
                <a href="https://www.twitch.tv/cardmarket_yugioh" class="fs-4">
                    <i class="bi bi-twitch" style="color:#8C45F7;"></i>
                </a>
                <a href="https://x.com/CardmarketYGO" class="fs-4">
                    <i class="bi bi-twitter-x" style="color:black;"></i>
                </a>
                <a href="https://www.youtube.com/c/CardmarketYGO" class="fs-4">
                    <i class="bi bi-youtube" style="color: #ed302f;"></i>
                </a>
            </div>

        </div>

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>