@model ProductViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/imgs/1.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/imgs/2.png" alt="Alternate Text" class="d-block w-100" />
                </div>
                <div class="carousel-item">
                    <img src="/imgs/6.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/imgs/3.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/imgs/4.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/imgs/5.png" class="d-block w-100" alt="...">
                </div>                
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <h1 class="display-4">Di tendenza</h1>
</div>

@if (Model.Products != null && Model.Products.Count > 0)
{
    <div class="container justify-content-center">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6 justify-content-evenly align-items-center mx-4 border border-dark pt-3">
            @foreach (var product in Model.Products)
            {
                <div class="text-center card mx-4 my-4 border-0 p-2">
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@product.IdProdotto"><img src="@product.URLImmagine" class="card-img-top" alt="@product.Dettaglio"></a>
                    <div class="card-body">
                        <h5 class="card-title">@product.Dettaglio</h5>
                    </div>
                </div>
            }
        </div>
    </div>
    
}

